<%- include('../../templates/upperTemplate.ejs') %>

    <div class="container mt-5">
        <% if (categories && categories.length > 0) { %>
            <div class="row">
                <% categories.forEach(category => { %>
                    <div class="col-md-4 mb-4">
                        <div class="card">
                            <img src="<%= category.strCategoryThumb %>" class="card-img-top" alt="<%= category.strCategory %>">
                            <div class="card-body">
                                <h5 class="card-title"><%= category.strCategory %></h5>
                                <p class="card-text"><%= category.strCategoryDescription.substring(0, 100) %>...</p>
                                    <a href="/category/<%= category.strCategory %>" class="btn btn-warning text-white">View Recipes</a>
                            </div>
                        </div>
                    </div>
                <% }) %>
            </div>
        <% } else { %>
            <p>No categories found.</p>
        <% } %>
    </div>

<%- include('../../templates/bottomTemplate.ejs') %>