<%- include('../../templates/upperTemplate.ejs') %>

        <% if (meals && meals.length > 0) { %>
            <% meals.forEach(meal => { %>
                <div class="meal">
                    <h2><%= meal.strMeal %></h2>
                    <img src="<%= meal.strMealThumb %>" alt="<%= meal.strMeal %>">
                    <p><%= meal.strInstructions %></p>
                    <h3>Ingredients:</h3>
                    <ul>
                        <% for (let i = 1; i <= 20; i++) { %>
                            <% if (meal[`strIngredient${i}`]) { %>
                                <li><%= meal[`strIngredient${i}`] %> - <%= meal[`strMeasure${i}`] %></li>
                            <% } %>
                        <% } %>
                    </ul>
                    <a href="<%= meal.strYoutube %>">Watch on YouTube</a>
                </div>
            <% }) %>
        <% } else { %>
            <p>No meals found.</p>
        <% } %>

    <%- include('../../templates/bottomTemplate.ejs') %>