<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%- docTitle %></title>
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-icons.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/swiper-bundle.min.css">
    <link rel="stylesheet" type="text/css" href="/css/templates/templateDefault.css">
    <% if (CustomCssFile) { %>
        <link rel="stylesheet" href="/css/<%- CustomCssFile %>">
    <% } %>
    <link rel="icon" type="image/x-icon" href="/images/GR-Logo.png">
</head>
<body>

    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/swiper-bundle.min.js"></script>
    <script src="/js/defaultTemplate.js"></script>
    <% if (CustomJsFile) { %>
        <script src="/js/<%- CustomJsFile %>"></script>
    <% } %>
    
    <% if (upperNavBar) { %>
        <%- include('../modules/upperNavBar') %>
    <% } %>
        
    <%- content %>
    
    <% if (footer) { %>
        <%- include('../modules/footer') %>
    <% } %>

</body>
</html>